.date {
    margin: 25px;
    font-family: var(--font-two);
    font-weight: bold;
}

#hRow {
    width: 100%;
    margin: 25px 25px 25px 0px;
    align-content: center;
}

#paragraph {
    width: 50%;
    /* width: 75%; */
    margin: auto;
    /* margin: 5px 100px 5px 150px; */
    padding: 10px;
    /* padding: 25px; */
    font-family: var(--font-one);
    font-size: 18px;
    /* text-align: center; */
}

#carouselExampleControls {
    width: 50%;
    margin: 5px 400px 5px 400px;
}

#firstCarousel {
    box-align: center;
}

#carouselExampleFade {
    width: 50%;
    margin: 5px 400px 5px 400px;
}

.carousel {
    margin: 0 auto;
  }

#carouselExampleInterval {
    width: 50%;
    margin: 5px 400px 5px 400px;
}

#carouselExampleSlidesOnly {
    width: 50%;
    margin: 5px 400px 5px 400px;
}



body {
    background: #2a6f97;
}